.it_comp_contact_icon_section {
  padding: 80px 0;
  padding-bottom: 100px;
}
.it_comp_contact_main {
  text-align: center;
  background: #de6640;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.it_comp_contact_main:hover {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
.it_comp_contact_main h4 {
  font-size: 24px;
  margin-top: 30px;
  color: #fff;
  text-transform: capitalize;
}
.it_comp_contact_main2 {
  background: #7b4dbb;
}
.it_comp_contact_main3 {
  background: #40d290;
}
.it_comp_contact_main p {
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  color: #fff;
  padding: 40px;
  padding-top: 20px;
}
.it_comp_contact_main p a {
  color: #fff;
}
.it_comp_contact_main p a:hover {
  color: #fff;
}
.it_comp_contact_rotate {
  position: relative;
  padding: 40px 0 0 0;
}
.it_comp_contact_rotate i {
  display: inline-block;
  color: #fff;
  font-size: 34px;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.text-center p {
  margin-top: 10px;
}
.web_contect_form1 input {
    color: white !important;
    background-color: #444 !important;
}
 
.web_contect_form1 textarea {
	background-color: #444 !important;
	color: #fff !important;
}
.web_contect_form1 textarea::placeholder, .web_contect_form1 input::placeholder {
    color: #fff;
}
.web_location_wrapper {
    padding-top: 0 !important;
}
