:root {
  --primary-color: #437ee0;
  --color-primary: #437ee0;
}
.countdown-div {
    max-width: 600px;
    text-align: center;
    margin: 2rem auto 5rem auto;
}
.countdown-head {
    margin-top: 5rem;
    background-color: var(--primary-color);
}
div.minutes, div.seconds {
    background-color: #333;
    border-radius: 1rem;
    padding: 2rem;
    border: 1rem solid var(--primary-color);
    margin-bottom: 1rem;
}
#hours, #days, #seconds, #minutes {
    color: white !important;
}
  @keyframes firework {
    0% { 
      transform: translate(-50%, 60vh);
      width: 0.5vmin;
      opacity: 1;
    }
    50% { 
      width: 0.5vmin;
      opacity: 1;
    }
    100% { 
      width: 45vmin; 
      opacity: 0; 
    }
  }
  .time {
    color: red;
  }
  .time-div {
    display: none;
  }
  .soon-div {
    display: flex;
  }
  .firework,
  .firework::before,
  .firework::after {
    display: none;
    --top: 90vh;
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 5vmin; */
    z-index: 999;
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
      /* random backgrounds */
      radial-gradient(circle, #ff0 0.5rem, #0000 0) 50% 00%,
      radial-gradient(circle, #ff0 0.3rem, #0000 0) 00% 50%,
      radial-gradient(circle, #ff0 0.5rem, #0000 0) 50% 99%,
      radial-gradient(circle, #ff0 0.2rem, #0000 0) 99% 50%,
      radial-gradient(circle, #ff0 0.3rem, #0000 0) 80% 90%,
      radial-gradient(circle, #ff0 0.5rem, #0000 0) 95% 90%,
      radial-gradient(circle, #ff0 0.5rem, #0000 0) 10% 60%,
      radial-gradient(circle, #ff0 0.2rem, #0000 0) 31% 80%,
      radial-gradient(circle, #ff0 0.3rem, #0000 0) 80% 10%,
      radial-gradient(circle, #ff0 0.2rem, #0000 0) 90% 23%,
      radial-gradient(circle, #ff0 0.3rem, #0000 0) 45% 20%,
      radial-gradient(circle, #ff0 0.5rem, #0000 0) 13% 24%
      ;
    /* background-size: 0.5vmin 0.5vmin; */
    background-size: 3rem 3rem;
    background-repeat: no-repeat;
    animation: firework 2s infinite;
  }
  
  .firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
  }
  
  .firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
  }