:root {
    --primary-clr: #437ee0;
    --white-clr: #fff;
	--dark-clr: #797979;
}
.web_logo_wrapper, #web_toggle {
	padding-top: 0 !important;
}
/* .web_menu_wrapper {
	padding-top: 7px !important;
} */
.pt-c7 {
	padding-top: 3px !important;
}
.web_menu_wrapper {
  padding-top: 6px !important;
}
.web_pricing_section .web_pricing-table-default .price {
	height: fit-content;
	width: auto;
	background-color: transparent;
	display: block;
	padding-top: 0 !important;
}
.web_pricing_section .web_pricing-table-default .price > img{
	width: 90%;
}
.web_pricing_section .web_pricing-table-default {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a:not([href]):not([tabindex]) {
	color: white;
}
a {
	color: white;
	font-size: 1.2rem !important;
}
.web_pricing-table-default .web_btn_style {
    border-radius: 1rem;
	padding: .7rem 0;
	cursor: pointer;
	/* color: white; */
}
.web_pricing_section .web_pricing-list li {
	margin: 0 1rem;
}
.web_pricing_section .web_pricing-list li > a {
	color: var(--white-clr);
}
.web_pricing_section .web_pricing-list li > a:hover,
.web_pricing_section .web_pricing-list li > a:active {
	color: var(--white-clr);
	text-decoration: underline;
}
.web_slider_main_img_wrapper {
	padding-top: 60px;
}
@media (max-width: 991px){
.web_slider_main_img_wrapper img {
	width: 100% !important;
}
}
.coming_soon .row > .item {
	height: fit-content;
	margin-bottom: 2rem;
}
.mail > a {
	text-transform: lowercase !important;
}
.web_testimonial_wrapper {
	padding: 0;
}
.web_pricing_section {
	padding-bottom: 30px;
}

/* Dropdown css */
.web_menu_wrapper ul > li > a.btn {
    padding: 0 !important;
    outline: none;
    border: none;
}