:root {
    --color-primary: #437ee0;
    --white-clr: #fff;
	--dark-clr: #797979;
}
.nav >li > a {
    color: var(--primary-clr);
}
.nav > li > a {
    color: var(--dark-clr);
    background-color: var(--white-clr);
    margin: 1rem;
    /* padding: .5rem 0; */
}
.nav > li {
    margin: 0 0 .7rem 0;
    margin-bottom: 0;
    padding: .5rem 0;
    background-color: white;
    
}
.nav > li.active {
    border: 1px solid lightgray;
    border-bottom: 0px;
}
.web_pricing_section {
    padding-bottom: 0 !important;
}

@media (min-width: 768px) {
.panel-heading {
    display: none;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-collapse {
    height: auto;
}

.panel-collapse.collapse {
    display: block;
}
}

@media (max-width: 767px) {
.tab-content .tab-pane {
    display: block;
}

.nav-tabs {
    display: none;
}

.panel-title a {
    display: block;
}

.panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    margin-top: -2px;
}

.tab-pane:first-child .panel {
    border-radius: 5px 5px 0 0;
}

.tab-pane:last-child .panel {
    border-radius: 0 0 5px 5px;
}
}