.env
.github
/dbconn.php
/highscorers.php
/microsoft.php
/google.php
/google.js
/package-lock.json
/package.json
/all_activity.php
/facebook.php
/facebook.js
/getName.php
/saveTime.php
/unionizeTable.php
scripts/
/js/custom.js
db/
/assets/Vid_Testi.mp4
/assets/Vid_Testi.webm